<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><%= user.name %></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 shadow-sm" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign out</a>
      </div>
    </div>
</header>



<!-- Logout Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Are you sure want to logout?</span>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-sm shadow-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/logout"  class="btn btn-sm shadow-sm btn-danger">Logout</a>
      </div>
    </div>
  </div>
</div>