<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link <% if (page === 'dashboard') { %> active <% } %>" aria-current="page" href="/dashboard">
            <span data-feather="home"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (page === 'stream') { %> active <% } %>" href="/streams">
            <span data-feather="airplay"></span>
            Stream
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (page === 'subjects') { %> active <% } %>" href="/subjects">
            <span data-feather="book"></span>
            Subject
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >
            <span data-feather="book-open"></span>
            Chapter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (page === 'students') { %> active <% } %>" href="/students">
            <span data-feather="users"></span>
            Student
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="users"></span>
            Faculty
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link <% if (page === 'users') { %> active <% } %>" href="/users">
            <span data-feather="users"></span>
            Users
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="settings"></span>
            Settings
          </a>
        </li>
      </ul>
    </div>
  </nav>