<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Subjects</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm"><i class="fa-solid fa-file-excel"></i> Export</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#addStream"  class="btn btn-sm btn-outline-success shadow-sm"><i class="fa-solid fa-circle-plus"></i> Add Subject</button>
      </div>
    </div>

    <div id="messageBox">

    </div>

    <!-- <div class="table-responsive"> -->

      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="card-header" style="display: flex; justify-content: space-between;">
              <div class="col-lg-1 col-md-2 col-sm-2 col-2">
                <label class="text-primary" style="font-weight: bold;" for="">Records</label>
                <select name="size" id="recordSize" class="form-select form-select-sm shadow-sm" aria-label=".form-select-sm example">
                  <option value="5">5</option>
                  <option value="10">10</option>
                </select>
              </div>

              <div class="col-lg-1 col-md-2 col-sm-2 col-2">
                <label class="text-primary" style="font-weight: bold;" for="">Pages</label>
                <!-- <select name="size" id="pageNo" class="form-select form-select-sm shadow-sm" aria-label=".form-select-sm example">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select> -->
                <input type="number" id="pageNo" min="1" oninput="this.value = Math.abs(this.value)" class="form-control form-control-sm shadow-sm"  value="0">
              </div>
            </div>

            <table class="table table-hover">
              <thead>
                <th>#</th>
                <th>Stream Name</th>
                <th>Created At</th>
                <th width="10%">Action</th>
              </thead>
              <tbody id="streamData">

               
  
              </tbody>
            </table>

            <div class="card-footer">
              <span id="totalRecord"></span>
            </div>
          </div>
        </div>

      </div>

    <!-- </div> -->

  </main>

  
<!-- Add Modal -->
<div class="modal fade" id="addStream" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="addStreamLabel">Add Subject</h5>
        <button type="button" onclick="resetAll();" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/streams" method="post" id="addStreamForm">
        <input type="hidden" name="_csrf" id="token" value="<%= csrfToken %>">
        <div class="modal-body">
          <div class="form-floating">
            <input type="text" name="name" class="form-control border-1 shadow-sm" id="streamName" placeholder="Enter stream name" autofocus>
            <label for="floatingInput">Stream Name</label>
            <span style="font-weight: bold; color: rgba(226, 41, 41, 0.849);"  id="streamError"></span>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" onclick="resetAll();" class="btn btn-sm btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="addStreamBtn" class="btn btn-sm btn-success shadow-sm">Save</button>
        </div>
      </form>
     
    </div>
  </div>
</div>

<!--  Edit Modal -->
<div class="modal fade" id="editStream" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="addStreamLabel">Edit Stream</h5>
        <button type="button" onclick="editResetAll();" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/stream-update" method="post" id="editStreamForm">
        <input type="hidden" name="_csrf" id="edittoken" value="<%= csrfToken %>">
        <input type="hidden" name="streamId" id="editstreamid" value="">
        <div class="modal-body">
          <div class="form-floating">
            <input type="text" name="name" class="form-control border-1 shadow-sm" id="editStreamName" placeholder="Enter stream name">
            <label for="floatingInput">Stream Name</label>
            <span style="font-weight: bold; color: rgba(226, 41, 41, 0.849);"  id="editStreamError"></span>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" onclick="editResetAll();" class="btn btn-sm btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="editStreamBtn" class="btn btn-sm btn-success shadow-sm">Update</button>
        </div>
      </form>
     
    </div>
  </div>
</div>

 <!-- Delete Modal -->
 <div class="modal fade"  id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header  text-danger fw-bold border-0">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete ?
      </div>
      <form action="" method="get" id="deleteStreamForm">
        <input type="hidden" name="_csrf" id="deletetoken" value="<%= csrfToken %>">
        <input type="hidden" name="streamId" id="streamid" value="">
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-secondary btn-sm shadow-sm" data-bs-dismiss="modal">Close</button>
          <button onclick="deleteStream();" id="deletestreambtn" type="submit" class="btn btn-danger btn-sm shadow-sm">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    // setPageNo();
    // getData();
  });
</script>


<!-- Add Stream -->
<script>
  $('#addStreamForm').submit(function(e){
    e.preventDefault();
    var streamname = $('#streamName').val();
    var token = $('#token').val();
    $('#addStreamBtn').text('Saving..');
    $('#addStreamBtn').prop('disabled',true);
    $.ajax({
      method:'post',
      url:'/stream-store',
      data:JSON.stringify({
        _csrf:token,
        name:streamname
      }),
      cache:false,
      processData:false,
      contentType: 'application/json',
      success:function(res){
        $('#streamName').removeClass('is-invalid');
        $('#streamError').text('');
        $('#addStreamBtn').text('Save');
        $('#addStreamBtn').prop('disabled',false);
        if(res.errors){
          if(res.errors.stream_name){
            $('#streamName').addClass('is-invalid');
            $('#streamError').text(res.errors.stream_name);
          }
        }
        if(res.success){
          $('#addStreamForm')[0].reset();
          $('#messageBox').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`);
          $('#addStream').modal('hide');
          getData();
          // location.reload();
        }
      }
    });
  })
</script>


<!-- Reset All value -->
<script>
  function resetAll(){
    $('#streamName').removeClass('is-invalid');
    $('#streamError').text('');
  }
</script>






<!-- Fetch Data -->
<script>
  function getData(){
    var recoedSize = $('#recordSize').val();
    var page = $('#pageNo').val();
    $.ajax({
      method:'get',
      url:`/streams-ajax?page=${page}&size=${recoedSize}`,
      cache:false,
      processData:false,
      success:function(res){
        $('#streamData').empty();
        if(res.streams.length > 0){
          $('#totalRecord').text(`Total records ${res.count}`);
        
          res.streams.forEach((stream,index) => {
          $('#streamData').append(`
                  <tr>
                    <td>${index+1}</td>
                    <td>${ stream.stream_name }</td>
                    <td> ${ timeago.format(stream.createdAt) }</td>
                    <td>
                      <a href="#"  onclick="editStream('${stream.id}')" class="btn btn-sm btn-outline-warning border-0 shadow-sm"> <i class="fa-solid fa-pen-to-square"></i> </a>
                      <a href="#" onclick="getDeleteID('${stream.id}')" class="btn btn-sm btn-outline-danger border-0 shadow-sm"><i class="fa-solid fa-trash"></i> </a>
                    </td>
                  </tr>
          `);
        });
        }else{
          $('#streamData').append(`
          <tr>
            <td></td>
            <td></td>
            <td>No data found</td>
            <td></td>
            <td></td>
          </tr>
          `);
        }
        
      }
    })
  }
</script>


<!-- Confirm delete -->
<script>
  function getDeleteRoute(route){
      $('#confirm_del').attr('href',route);
  }
</script>


<!-- Edit Modal -->
<script>
  function editStream(id){
    $('#editStream').modal('show');
    $.ajax({
      method:'get',
      url:'/streams-edit/'+id,
      cache:true,
      processData:true,
      success:function(res){
        $('#editstreamid').val(res.stream.id);
        $('#editStreamName').val(res.stream.stream_name);
      }
    });
  }
</script>

<!-- Reset edit modal -->
<script>
  function editResetAll(){
    $('#editStreamName').removeClass('is-invalid');
    $('#editStreamError').text('');
  }
</script>


<!-- Update Data -->
<script>
  $('#editStreamForm').submit(function(e){
    e.preventDefault();
    var streamname = $('#editStreamName').val();
    var id = $('#editstreamid').val();
    var token = $('#edittoken').val();
    $('#editStreamBtn').text('Updating..');
    $('#editStreamBtn').prop('disabled',true);
    $.ajax({
      method:'post',
      url:'/stream-update',
      data:JSON.stringify({
        _csrf:token,
        name:streamname,
        streamId:id
      }),
      cache:false,
      processData:false,
      contentType: 'application/json',
      success:function(res){
        console.log(res);
        $('#editStreamName').removeClass('is-invalid');
        $('#editStreamError').text('');
        $('#editStreamBtn').text('Update');
        $('#editStreamBtn').prop('disabled',false);
        if(res.errors){
          if(res.errors.stream_name){
            $('#editStreamName').addClass('is-invalid');
            $('#editStreamError').text(res.errors.stream_name);
          }
        }
        if(res.success){
          $('#messageBox').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`);
          $('#editStream').modal('hide');
          getData();
        }
      }
    });
  })
</script>


<!-- Delete Modal -->
<script>
  function getDeleteID(id){
    $('#confirmDelete').modal('show');
    $('#streamid').val(id);
  }
</script>


<!-- Delete Stream -->
<script>
  function deleteStream(){
    $('#deleteStreamForm').submit(function(e){
      e.preventDefault();
      var id = $('#streamid').val();
      var token = $('#deletetoken').val();
      $('#deletestreambtn').text('Deleting..');
      $('#deletestreambtn').prop('disabled',true);
      $.ajax({
        method:'post',
        url:'/stream-delete',
        data:JSON.stringify({
          _csrf:token,
          streamId:id
        }),
        cache:false,
        processData:false,
        contentType:'application/json',
        success:function(res){
          $('#deletestreambtn').text('Delete');
          $('#deletestreambtn').prop('disabled',false);
          $('#messageBox').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`);
          $('#confirmDelete').modal('hide');
          getData();
        }
      });
    });
  }
</script>


<script>
  $('#recordSize').change(function(){
    getData();
  });

  $('#pageNo').change(function(){
    setPageNo();
    getData();
  });
</script>

<script>
  function setPageNo(){
    var page = $('#pageNo').val();
    if(page == 0){
      $('#pageNo').val(1)
    }
  }
</script>


    