<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Subjects</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm"><i class="fa-solid fa-file-excel"></i> Export</button>
        <button type="button" onclick="addSubject();" class="btn btn-sm btn-outline-success shadow-sm"><i class="fa-solid fa-circle-plus"></i> Add Subject</button>
      </div>
    </div>

    <div id="messageBox">

    </div>

    <!-- <div class="table-responsive"> -->

      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="card-header" style="display: flex; justify-content: space-between;">
            
            </div>

            <table class="table table-hover">
              <thead>
                <th>#</th>
                <th>Stream Name</th>
                <th>Subject Name</th>
                <th>Created At</th>
                <th width="10%">Action</th>
              </thead>
              <tbody id="subjectData">
  
              </tbody>
            </table>

            <div class="card-footer">
              <span id="totalRecord"></span>
            </div>
          </div>
        </div>

      </div>

    <!-- </div> -->

  </main>

  
<!-- Add Modal -->
<div class="modal fade" id="addSubject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="addStreamLabel">Add Subject</h5>
        <button type="button" onclick="resetAll();" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/subject-store" method="post" id="addSubjectForm">
        <input type="hidden" name="_csrf" id="token" value="<%= csrfToken %>">
        <div class="modal-body">
          <div class="form-floating">
            <select class="form-select border-1 shadow-sm" id="streamId" aria-label="Floating label select example">
              
            </select>
            <label for="streamId">Choose Stream</label>
            <span style="font-weight: bold; color: rgba(226, 41, 41, 0.849);"  id="streamIdError"></span>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-floating">
            <input type="text" name="name" class="form-control border-1 shadow-sm" id="subjectName" placeholder="Enter stream name" autofocus>
            <label for="floatingInput">Subject Name</label>
            <span style="font-weight: bold; color: rgba(226, 41, 41, 0.849);"  id="subjectError"></span>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" onclick="resetAll();" class="btn btn-sm btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="addSubjectBtn" class="btn btn-sm btn-success shadow-sm">Save</button>
        </div>
      </form>
     
    </div>
  </div>
</div>

<!--  Edit Modal -->
<div class="modal fade" id="editSubject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="addStreamLabel">Edit Subject</h5>
        <button type="button" onclick="editResetAll();" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/stream-update" method="post" id="editStreamForm">
        <input type="hidden" name="_csrf" id="edittoken" value="<%= csrfToken %>">
        <input type="hidden" name="streamId" id="editstreamid" value="">

        <div class="modal-body">
          <div class="form-floating">
            <select class="form-select border-1 shadow-sm" id="editstreamId" aria-label="Floating label select example">
            </select>
            <label for="streamId">Choose Stream</label>
            <span style="font-weight: bold; color: rgba(226, 41, 41, 0.849);"  id="editstreamIdError"></span>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-floating">
            <input type="text" name="name" class="form-control border-1 shadow-sm" id="editsubjectName" placeholder="Enter stream name" autofocus>
            <label for="floatingInput">Subject Name</label>
            <span style="font-weight: bold; color: rgba(226, 41, 41, 0.849);"  id="editsubjectError"></span>
          </div>
        </div>

        <div class="modal-footer border-0">
          <button type="button" onclick="editResetAll();" class="btn btn-sm btn-secondary shadow-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="editStreamBtn" class="btn btn-sm btn-success shadow-sm">Update</button>
        </div>
      </form>
     
    </div>
  </div>
</div>

 <!-- Delete Modal -->
 <div class="modal fade"  id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header  text-danger fw-bold border-0">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete ?
      </div>
      <form action="" method="get" id="deleteStreamForm">
        <input type="hidden" name="_csrf" id="deletetoken" value="<%= csrfToken %>">
        <input type="hidden" name="streamId" id="streamid" value="">
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-secondary btn-sm shadow-sm" data-bs-dismiss="modal">Close</button>
          <button onclick="deleteStream();" id="deletestreambtn" type="submit" class="btn btn-danger btn-sm shadow-sm">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    // setPageNo();
    getData();
  });
</script>


<script>
  function addSubject(){
    $.ajax({
      method:'get',
      url:'/subject-create',
      processData:false,
      cache:false,
      success:function(res){
        $('#addSubject').modal('show');
        $('#streamId').empty();
        // console.log(res.streams);
        $('#streamId').append(
            `
            <option value="">Select Stream</option>
            `
        )
        res.streams.forEach((stream) => {
          $('#streamId').append(
            `
            <option value="${stream.id}">${stream.stream_name}</option>
            `
          )
        });
      }
    });
  }
</script>



<!-- Add Subject -->
<script>
  $('#addSubjectForm').submit(function(e){
    e.preventDefault();
    var streamId = $('#streamId').val();
    var token = $('#token').val();
    var subject = $('#subjectName').val();
    $('#addSubjectBtn').text('Saving..');
    $('#addSubjectBtn').prop('disabled',true);
    $.ajax({
      method:'post',
      url:'/subject-store',
      data:JSON.stringify({
        _csrf:token,
        name:subject,
        streamId:streamId
      }),
      cache:false,
      processData:false,
      contentType: 'application/json',
      success:function(res){
        $('#streamId').removeClass('is-invalid');
        $('#streamIdError').text('');
        $('#subjectName').removeClass('is-invalid');
        $('#subjectError').text('');
        $('#addSubjectBtn').text('Save');
        $('#addSubjectBtn').prop('disabled',false);
        if(res.errors){
          if(res.errors.streamId){
            $('#streamId').addClass('is-invalid');
            $('#streamIdError').text(res.errors.streamId);
          }
          if(res.errors.subject_name){
            $('#subjectName').addClass('is-invalid');
            $('#subjectError').text(res.errors.subject_name);
          }
        }
        if(res.success){
          $('#addSubjectForm')[0].reset();
          $('#messageBox').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`);
          $('#addSubject').modal('hide');
          getData();
          // location.reload();
        }
      }
    });
  })
</script>


<!-- Reset All value -->
<script>
  function resetAll(){
    $('#streamId').removeClass('is-invalid');
    $('#streamIdError').text('');
    $('#subjectName').removeClass('is-invalid');
    $('#subjectError').text('');
  }
</script>






<!-- Fetch Data -->
<script>
  function getData(){
    $.ajax({
      method:'get',
      url:`/subjects-ajax`,
      cache:false,
      processData:false,
      success:function(res){
        // console.log(res);
        $('#subjectData').empty();
        if(res.subjects.count > 0){
          $('#totalRecord').text(`Total records ${res.subjects.count}`);
          res.subjects.rows.forEach((subject,index) => {
          $('#subjectData').append(`
                  <tr>
                    <td>${index+1}</td>
                    <td>${ subject.Stream.stream_name }</td>
                    <td>${ subject.subject_name }</td>
                    <td> ${ timeago.format(subject.createdAt) }</td>
                    <td>
                      <a href="#"  onclick="editSubject('${subject.id}')" class="btn btn-sm btn-outline-warning border-0 shadow-sm"> <i class="fa-solid fa-pen-to-square"></i> </a>
                      <a href="#" onclick="getDeleteID('${subject.id}')" class="btn btn-sm btn-outline-danger border-0 shadow-sm"><i class="fa-solid fa-trash"></i> </a>
                    </td>
                  </tr>
          `);
        });
        }else{
          $('#subjectData').append(`
          <tr>
            <td></td>
            <td></td>
            <td>No data found</td>
            <td></td>
            <td></td>
          </tr>
          `);
        }
        
      }
    })
  }
</script>


<!-- Confirm delete -->
<script>
  function getDeleteRoute(route){
      $('#confirm_del').attr('href',route);
  }
</script>


<!-- Edit Modal -->
<script>
  function editSubject(id){
    $('#editSubject').modal('show');
    $.ajax({
      method:'get',
      url:'/subject-edit/'+id,
      cache:true,
      processData:true,
      success:function(res){
        console.log(res);
        $('#editsubjectName').val(res.subject.subject_name);
        $('#editstreamId').empty();
        res.streams.forEach((stream) => {
          if(res.subject.streamId == stream.id){
            $('#editstreamId').append(
              `
              <option value="${stream.id}" selected>${stream.stream_name}</option>
              `
            )
          }else{
            $('#editstreamId').append(
              `
              <option value="${stream.id}">${stream.stream_name}</option>
              `
            )
          }
        });

      }
    });
  }
</script>

<!-- Reset edit modal -->
<script>
  function editResetAll(){
    $('#editStreamName').removeClass('is-invalid');
    $('#editStreamError').text('');
  }
</script>


<!-- Update Data -->
<script>
  $('#editStreamForm').submit(function(e){
    e.preventDefault();
    var streamname = $('#editStreamName').val();
    var id = $('#editstreamid').val();
    var token = $('#edittoken').val();
    $('#editStreamBtn').text('Updating..');
    $('#editStreamBtn').prop('disabled',true);
    $.ajax({
      method:'post',
      url:'/stream-update',
      data:JSON.stringify({
        _csrf:token,
        name:streamname,
        streamId:id
      }),
      cache:false,
      processData:false,
      contentType: 'application/json',
      success:function(res){
        console.log(res);
        $('#editStreamName').removeClass('is-invalid');
        $('#editStreamError').text('');
        $('#editStreamBtn').text('Update');
        $('#editStreamBtn').prop('disabled',false);
        if(res.errors){
          if(res.errors.stream_name){
            $('#editStreamName').addClass('is-invalid');
            $('#editStreamError').text(res.errors.stream_name);
          }
        }
        if(res.success){
          $('#messageBox').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`);
          $('#editStream').modal('hide');
          getData();
        }
      }
    });
  })
</script>


<!-- Delete Modal -->
<script>
  function getDeleteID(id){
    $('#confirmDelete').modal('show');
    $('#streamid').val(id);
  }
</script>


<!-- Delete Stream -->
<script>
  function deleteStream(){
    $('#deleteStreamForm').submit(function(e){
      e.preventDefault();
      var id = $('#streamid').val();
      var token = $('#deletetoken').val();
      $('#deletestreambtn').text('Deleting..');
      $('#deletestreambtn').prop('disabled',true);
      $.ajax({
        method:'post',
        url:'/stream-delete',
        data:JSON.stringify({
          _csrf:token,
          streamId:id
        }),
        cache:false,
        processData:false,
        contentType:'application/json',
        success:function(res){
          $('#deletestreambtn').text('Delete');
          $('#deletestreambtn').prop('disabled',false);
          $('#messageBox').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong id="successMsg">${res.success}</strong>
            <button type="button" class="btn-close shadowm-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>`);
          $('#confirmDelete').modal('hide');
          getData();
        }
      });
    });
  }
</script>


<script>
  $('#recordSize').change(function(){
    getData();
  });

  $('#pageNo').change(function(){
    setPageNo();
    getData();
  });
</script>

<script>
  function setPageNo(){
    var page = $('#pageNo').val();
    if(page == 0){
      $('#pageNo').val(1)
    }
  }
</script>


    