<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Add Student</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" onclick="location.href='/students'" class="btn btn-sm btn-outline-success shadow-sm"><i class="fa-solid fa-circle-plus"></i> Back</button>
      </div>
    </div>

    <div id="messageBox">

    </div>

    <!-- <div class="table-responsive"> -->

      <div class="card p-3 mb-5 border-0 shadow-sm">
        <% if(messages.errors){ %>
            <div class="alert alert-danger mt-4 border-0 shadow-sm alert-dismissible fade show" role="alert">
             <ul class="list-group" style="list-style: none;">
                <% messages.errors.forEach(function(error){ %>
                <li style="font-weight: bold;" class="text-danger"><%= error.msg %></li>
                <% }) %>
             </ul>
              <button type="button" class="btn-close shadow-sm" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <form action="/student-store" id="studentDataForm" method="post" enctype="multipart/form-data">
        <div class="row">

          <input type="hidden" name="_csrf" id="token" value="<%= csrfToken %>">
          
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control shadow-sm" name="name" id="name" placeholder="Name">
                        <label for="name">Name</label>
                      </div>
                </div>
    
    
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control shadow-sm" name="phone" id="phone" placeholder="Phone">
                        <label for="phone">Phone Number</label>
                      </div>
                </div>
    
    
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control shadow-sm" name="email" id="email" placeholder="name@example.com">
                        <label for="email">Email address</label>
                      </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control shadow-sm" name="roll" id="roll" placeholder="Roll">
                        <label for="roll">Roll Number</label>
                      </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select shadow-sm" id="stream" name="stream" aria-label="Floating label select example">
                            <option value="">Select Stream</option>
                            <% streams.forEach((stream) => { %>
                                <option value="<%= stream.id %>"><%= stream.stream_name %></option>
                            <% }) %> 
                          </select>
                          <label for="stream">Select Stream</label>
                      </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select shadow-sm" id="semester" name="semester" aria-label="Floating label select example">
                            <option value="">Select Semester</option>
                            <option value="1">1st</option>
                            <option value="2">2nd</option>
                            <option value="3">3rd</option>
                            <option value="4">4th</option>
                            <option value="5">5th</option>
                            <option value="6">6th</option>
                          </select>
                          <label for="semester">Select Semester</label>
                      </div>
                </div>
    
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control shadow-sm" name="session" id="session" placeholder="Session">
                        <label for="session">Session</label>
                      </div>
                </div>
    
                <div class="col-md-4">
                      <div class="form-floating">
                        <input type="password" class="form-control shadow-sm" name="password" id="password" placeholder="Password">
                        <label for="password">Password</label>
                      </div>
                </div>
    
                <!-- <div class="col-md-4">
                  <div class="mb-3">
                    <label for="">Profile Picture</label>
                    <input class="form-control shadow-sm" type="file" accept="image/*" name="profile_pic" id="formFile">
                  </div>
                </div>   -->


              

        </div>
        <div class="col-md-2">
          <button type="submit"  class="btn float-right btn-outline-success shadow-sm border-0 float-right">Save</button>
         </div>
    </form>
      </div>  


      <script>
        $('#studentDataForm').submit(function(e){
          e.preventDefault();
          // var formData = new FormData(document.getElementById('studentDataForm'));
          // console.log(formData);
          const token = $('#token').val();
          const name = $('#name').val();
          const email = $('#email').val();
          const roll = $('#roll').val();
          const phone = $('#phone').val();
          const stream = $('#stream').val();
          const semester = $('#semester').val();
          const session = $('#session').val();
          const password = $('#password').val();

          $.ajax({
            method:'post',
                url:'/student-store',
                processData:false,
                cache:false,
                contentType:'application/json',
                data:JSON.stringify({
                    _csrf:token,
                    name:name,
                    email:email,
                    roll:roll,
                    phone:phone,
                    stream:stream,
                    semester:semester,
                    session:session,
                    password:password
                }),
                success:function(res){
                    console.log(res);
                }
          })
        });
      </script>
    <!-- </div> -->
  </main>